In [2]:
import numpy as np #библиотека языка Python, добавляющая поддержку больших многомерных массивов и матриц
import pandas as pd #это библиотека, которая предоставляет инструменты для хранения данных и работе с ними. 
import seaborn as sns #это более высокоуровневое API на базе библиотеки matplotlib. Seaborn содержит более адекватные дефолтные настройки оформления графиков.
import matplotlib.pyplot as plt #Построение графиков в Python
from collections import Counter #вид словаря, который позволяет нам считать количество неизменяемых объектов (в большинстве случаев, строк).

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1094,tt0328828,55000000,231449203,American Wedding,Jason Biggs|Alyson Hannigan|Seann William Scot...,Jesse Dylan,Forever hold your piece.,"With high school a distant memory, Jim and Mic...",103,Comedy|Romance,Universal Pictures|Zide-Perry Productions|Live...,8/1/2003,6.0,2003
16,tt2446042,48000000,325771424,Taken 3,Liam Neeson|Forest Whitaker|Maggie Grace|Famke...,Olivier Megaton,It Ends Here,Ex-government operative Bryan Mills finds his ...,109,Crime|Action|Thriller,Twentieth Century Fox Film Corporation|M6 Film...,1/1/2015,6.1,2015
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,6.1,2013
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002
1199,tt0359950,90000000,188133322,The Secret Life of Walter Mitty,Ben Stiller|Kristen Wiig|Patton Oswalt|Shirley...,Ben Stiller,"Stop Dreaming, Start Living",A timid magazine photo manager who lives life ...,114,Adventure|Comedy|Drama|Fantasy,New Line Cinema|Ingenious Media|Twentieth Cent...,12/18/2013,7.0,2013

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [60]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']
#the time given in the dataset is in string format. # время, указанное в наборе данных, указано в строковом формате.
#So we need to change this in datetime format # Итак, нам нужно изменить это в формате datetime
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [63]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
display(data.budget.max())

380000000

In [9]:
data.query('budget == 380000000')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [10]:
# можно добавлять разные варианты решения
data[(data.budget == 380000000)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [64]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers ['2'] = '2. Gods and Generals (tt0279111)' #+

In [28]:
display(data.runtime.max())

214

In [29]:
data[(data.runtime == 214)] #вариант 1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

In [30]:
data.query('runtime == 214') #вариант 2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [65]:
answers ['3'] = '3. Winnie the Pooh (tt1449283)' #+

In [25]:
data[(data.runtime == 63)] #вариант 1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [27]:
data.query('runtime == 63') #вариант 2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [66]:
answers ['4'] = '2. 110' #+

In [37]:
display(data.runtime.mean())

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [67]:
answers ['5'] = '1. 107' #+

In [33]:
display(data.runtime.median())

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [68]:
answers ['6'] = '5. Avatar (tt0499549)' #+

In [39]:
# лучше код получения столбца profit вынести в Предобработку что в начале
display(data.profit.max())

2544505847

In [40]:
data.query('profit == 2544505847') #вариант 1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [69]:
answers ['7'] = '5. The Lone Ranger (tt1210819)' #+

In [42]:
display(data.profit.min())

-165710090

In [43]:
data.query('profit == -165710090') #вариант 1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [70]:
answers ['8'] = '1. 1478' #+

In [47]:
data[data.profit > 0]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,5.7,2000,7036004
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000,4700000
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000,7728118
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000,12609995
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [71]:
answers ['9'] = '4. The Dark Knight (tt0468569)' #+

In [8]:
data_2008 = data[data['release_year'] == 2008]
data_2008[data_2008.revenue == data_2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [72]:
answers ['10'] = '5. The Lone Ranger (tt1210819)' #+

In [13]:
unprofitable= data.loc[data['release_year'].isin(['2012','2013','2014'])].pivot_table(values=['profit'],
index=['original_title'],
columns=['release_year'],
aggfunc='min',
margins=True,
fill_value=0)
display(unprofitable)
data.query('profit == -165710090')

                               profit
release_year                     2012       2013       2014        All
original_title
12 Years a Slave                    0  167000000          0  167000000
2 Guns                              0   70940411          0   70940411
21 & Over                           0   35065672          0   35065672
21 Jump Street              159585328          0          0  159585328
22 Jump Street                      0          0  138441614  138441614
...                               ...        ...        ...        ...
Wreck-It Ralph              306222889          0          0  306222889
X-Men: Days of Future Past          0          0  496000000  496000000
Zero Dark Thirty             92820716          0          0   92820716
Ð¡Ñ‚Ð°Ð»Ð¸Ð½Ð³Ñ€Ð°Ð´                0   38129518          0   38129518
All                         -51893525 -165710090  -32694825 -165710090

[368 rows x 4 columns]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [75]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers ['11'] = '3. Drama' #+

In [15]:
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [76]:
answers ['12'] = '3. Drama' #+

In [17]:
pd.Series((data[data['profit'] > 0].genres.str.split('|').sum())).value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [77]:
answers ['13'] = '5. Peter Jackson' #+

In [16]:
df = data.copy()
df['dirs'] = df['director'].str.split('|')
dirs_cut = df.explode('dirs')
data_grp = dirs_cut.groupby(['dirs'])
data_grp = dirs_cut.groupby(['dirs']).revenue.sum()
data_grp.sort_values(ascending =False)

dirs
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [78]:
answers ['14'] = '3. Robert Rodriguez' #+

In [7]:
data = pd.read_csv('movie_bd_v5.csv')
data['dirs'] = data['director'].str.split('|')
data = data.explode('director')
actions = data [data.genres.str.contains('Action')]
actions.director.value_counts().head(5)

Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
Robert Rodriguez      6
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [79]:
answers ['15'] = '3. Chris Hemsworth' #+

In [9]:
df = data.copy()
df['acter'] = df['cast'].str.split('|')
dirs_cut = df.explode('acter')
dirs_cut_2012 = dirs_cut[dirs_cut['release_year'] == 2012]
data_grp = dirs_cut_2012.groupby(['acter'])
data_grp = dirs_cut_2012.groupby(['acter']).revenue.sum()
data_grp.sort_values(ascending =False)

acter
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [80]:
answers ['16'] = '3. Matt Damon' #+

In [10]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0] #+

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [81]:
answers ['17'] = '2. Action' #+

In [11]:
data = pd.read_csv('movie_bd_v5.csv')
df = data.copy()
df['acter'] = df['cast'].str.split('|')
dirs_cut = df.explode('acter')
dirs_cut = dirs_cut[dirs_cut['acter'] == 'Nicolas Cage']
pd.Series(dirs_cut['genres'].str.cat(sep='|').split('|')).value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Romance             1
War                 1
Horror              1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [82]:
answers ['18'] = '1. K-19: The Widowmaker (tt0267626)' #+

In [13]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
df = data.copy()
df['companies'] = df['production_companies'].str.split('|')
df_companies = df.explode('companies')
df2 = df_companies.loc[df_companies['companies'] == 'Paramount Pictures'][['imdb_id','budget','revenue', 'profit', 'original_title','companies', 'release_year']]
df2.sort_values (by = 'profit', ascending = True)

,imdb_id,budget,revenue,profit,original_title,companies,release_year
925,tt0267626,100000000,35168966,-64831034,K-19: The Widowmaker,Paramount Pictures,2002
1123,tt0300556,80000000,19480739,-60519261,Timeline,Paramount Pictures,2003
1722,tt0435705,70000000,18211013,-51788987,Next,Paramount Pictures,2007
1623,tt0375173,60000000,13395939,-46604061,Alfie,Paramount Pictures,2004
1631,tt0315297,50000000,25195000,-24805000,Twisted,Paramount Pictures,2004
...,...,...,...,...,...,...,...
730,tt1229238,145000000,694713380,549713380,Mission: Impossible - Ghost Protocol,Paramount Pictures,2011
1738,tt0418279,150000000,709709780,559709780,Transformers,Paramount Pictures,2007
603,tt0367882,185000000,786636033,601636033,Indiana Jones and the Kingdom of the Crystal S...,Paramount Pictures,2008
317,tt1055369,150000000,836297228,686297228,Transformers: Revenge of the Fallen,Paramount Pictures,2009
828,tt1399103,195000000,1123746996,928746996,Transformers: Dark of the Moon,Paramount Pictures,2011

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [83]:
answers ['19'] = '5. 2015' #+

In [16]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
df = data.copy()

df['companies'] = df['production_companies'].str.split('|')
df_companies = df.explode('companies')

result = df.groupby(['release_year'])['revenue'].sum()
result.sort_values (ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [84]:
answers ['20'] = '1. 2014' #+

In [19]:
data = pd.read_csv('movie_bd_v5.csv') #+
data['profit'] = data['revenue'] - data['budget']
data[data.production_companies.str.contains('Warner Bros', na = False)].groupby('release_year').sum().sort_values('profit', ascending = False )

                  budget     revenue  runtime  vote_average      profit
release_year
2014           947600000  3243064519     1576          88.9  2295464519
2007           982000000  3183675217     1721          95.4  2201675217
2008           916000000  3050595031     1366          72.0  2134595031
2010          1034000000  3008712985     1421          79.6  1974712985
2011           974000000  2845393682     1248          68.3  1871393682
2003           890000000  2745493377     1085          56.7  1855493377
2009           915500000  2737954136     1305          67.9  1822454136
2013           963500000  2599953400     1100          59.9  1636453400
2004          1100000000  2731933725     1624          78.7  1631933725
2005           861000000  2412980298     1193          63.0  1551980298
2001           923000000  2266545668     1571          83.6  1343545668
2012           611500000  1869520056      579          30.0  1258020056
2002           680000000  1702709901     1281          70.6  1022709901
2015           820800003  1691168351     1358          75.9   870368348
2006           901000000  1521170743     1504          81.0   620170743
2000           572900000  1025531386     1333          68.0   452631386

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [85]:
answers ['21'] = '4. Сентябрь' #+

In [22]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']

data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = data['release_date'].map(lambda date: date.month)

data.release_date.dt.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [86]:
answers ['22'] = '2. 450' #+

In [25]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']

data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = data['release_date'].map(lambda date: date.month)

data.release_date.dt.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [26]:
147+142+161

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [87]:
answers ['23'] = '5. Peter Jackson' #+

In [28]:
data = pd.read_csv('movie_bd_v5.csv')
data["release_date"] = pd.to_datetime(data["release_date"])

data[(data.release_date.dt.month==1) | (data.release_date.dt.month==2) | (data.release_date.dt.month==12)].director.str.split('|').value_counts()

[Peter Jackson]                       7
[Clint Eastwood]                      6
[Steven Soderbergh]                   6
[Shawn Levy]                          4
[Nancy Meyers]                        4
                                     ..
[Paul Tibbitt]                        1
[Florian Henckel von Donnersmarck]    1
[Niki Caro]                           1
[Mikael HÃ¥fstrÃ¶m]                   1
[Guy Ferland]                         1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [88]:
answers ['24'] = '5. Four By Two Productions' #+

In [30]:
data = pd.read_csv ('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
df = data.copy()
df['companies'] = df['production_companies'].str.split('|')
df_companies = df.explode('companies')
df_companies['title_length'] = df_companies['original_title'].map(lambda x: len(x))
result = df_companies.groupby(['companies'])['title_length'].mean()
result.sort_values (ascending = False)

companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_length, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [89]:
answers ['25'] = '3. Midnight Picture Show' #+

In [31]:
data = pd.read_csv('movie_bd_v5.csv') #+
data['profit'] = data['revenue'] - data['budget']
data['overview_count'] = data.overview.str.split().apply(len)
to_check = [ \
  'Universal Pictures', \
  'Warner Bros', \
  'Midnight Picture Show', \
  'Paramount Pictures', \
  'Total Entertainment' \
]
result = {}
for item in to_check:
  result.setdefault(item,0)
  result[item]=data[data.production_companies.str.contains(item)].overview_count.mean()
result

{'Universal Pictures': 53.73714285714286,
 'Warner Bros': 54.20765027322405,
 'Midnight Picture Show': 175.0,
 'Paramount Pictures': 55.26229508196721,
 'Total Entertainment': 86.0}

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [90]:
answers ['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' #+

In [34]:
data = pd.read_csv('movie_bd_v5.csv') #+
data['profit'] = data['revenue'] - data['budget']

result = data.groupby(['original_title'])['vote_average'].mean()
result.sort_values(ascending = False).head(18)

original_title
The Dark Knight                                  8.1
The Imitation Game                               8.0
Room                                             8.0
Interstellar                                     8.0
Inside Out                                       8.0
The Grand Budapest Hotel                         7.9
The Pianist                                      7.9
Guardians of the Galaxy                          7.9
Memento                                          7.9
The Wolf of Wall Street                          7.9
Inception                                        7.9
Gone Girl                                        7.9
12 Years a Slave                                 7.9
The Lord of the Rings: The Return of the King    7.9
Prisoners                                        7.8
The Fault in Our Stars                           7.8
Eternal Sunshine of the Spotless Mind            7.8
The Prestige                                     7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [91]:
answers ['27'] = '5. Daniel Radcliffe & Rupert Grint' #+

In [36]:
from itertools import combinations
data = pd.read_csv('movie_bd_v5.csv') #+
mov_acts_comb = [] 
mov = data.copy()
for cast in mov.cast.str.split('|'):
    mov_acts_comb.extend(list(combinations(cast, 2)))
mov_acts_pair = pd.Series(mov_acts_comb).value_counts()
mov_acts_pair

(Daniel Radcliffe, Rupert Grint)            8
(Daniel Radcliffe, Emma Watson)             8
(Rupert Grint, Emma Watson)                 7
(Ben Stiller, Owen Wilson)                  6
(Johnny Depp, Helena Bonham Carter)         6
                                           ..
(Rihanna, Matt Jones)                       1
(Mark Wahlberg, Jason Statham)              1
(Thomas Kretschmann, Philippe Reinhardt)    1
(Noah Emmerich, Sean McCann)                1
(Matthew McConaughey, Cody Horn)            1
Length: 18121, dtype: int64

# Submission

In [92]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '3. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [93]:
# и убедиться что ни чего не пропустил)
len(answers)

27